.view-projects-container {
  padding: 20px;
}

.heading {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  color: #121212;
  position: relative;
}

.heading::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #3b82f6;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
}

.subheading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.select-card {
  margin: 0 10px;
}

.select-card label {
  display: block;
  margin-bottom: 5px;
}

.select-card select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.project-info {
  text-align: center;
}

.project-image img {
  max-width: 100%;
  border-radius: 10px;
}

.project-details {
  margin-top: 10px;
  text-align: left;
}

.github-link {
  margin-top: 10px;
  text-align: center;
}

.github-link a {
  color: #053c77;
  text-decoration: none;
  font-size: 1.2em;
}

@media (max-width: 1024px) {
  .project-card {
    width: calc(50% - 20px); /* 2 columns */
  }
}

@media (max-width: 768px) {
  .select-container {
    flex-direction: column;
    align-items: center;
  }

  .select-card {
    margin-bottom: 15px;
    width: 80%;
  }

  .project-card {
    width: calc(100% - 20px); /* 1 column */
    padding: 10px;
  }

  .project-details p {
    font-size: 0.9em;
  }

  .github-link a {
    font-size: 1em;
  }
}
